.testmonials{
	background:#455261;
}
.item h2{
	margin: 0;
	color: #666;
	font-family: "trebuchet ms", sans-serif;
	padding: 0.3em 0 0 0;
}
.item{
    text-align: center;
    height:290px !important;
}
.carousel{
    margin-top: 20px;
}
.item h2 img{
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
}
.bs-example{
	margin: 20px;
}
.caption{
	padding-bottom: 50px;
}
.caption h3{
	font-weight: 700;
	text-shadow: none;
}
.caption p{
	text-shadow:none;
	color: #EEE;
	font-size: 0.96em;
	line-height: 1.5em;
}
.pagenate-icons li,.pagenate-icons li.active{
	width:20px;
	height:20px;
	display:inline-block;
	background:url(../images/pagenate.png) no-repeat 0px 0px;
	border:none;
}
.pagenate-icons li.active{
	background: url(../images/pagenate.png) no-repeat -20px 0px;
}